body {
    padding: 10px;
    background: #000;
    color: #ddd;
}

.tc_heading {
    padding: 40px;
    background-color: #222;
    color:#af0;
}

.tc_chart {
    padding:0px;
    background-color: #555;
}

.tc_table {
    padding:40px;
    background-color: #777;
}

.nopad {

    padding:0px;
    padding-left:0px;
    padding-right:0px;
}

h2, h3, h4 {
    color: #eee;
}


